
.error-message{
  color: red;
}


.dropdown-search-container {
  display: flex;
  flex-direction: row; /* Align items horizontally */
  align-items: center; /* Center items vertically */
}

.dropdown {
  margin-right: 10px; /* Add some spacing between dropdowns and button */
}

.search-button {
  margin-left: 10px; /* Add some spacing between dropdowns and button */
}

